
.chats
  .chat__side
    .chat__header
      .chat__header--name nozawa
      .chat__header--edits
        %a.chat__icon{ :href => "" }
          %i.fa.fa-pencil-square-o.fa-lg
        %a.chat__icon{ :href => "" }
          %i.fa.fa-cog.fa-lg

    .chat__groups
      .chat__group
        .chat__group--name sampleグループ名前名前名前名前名前名前名前名前名前名前名前名前名前名前名前名前名前名前
        .chat__group--message あああああああ
      .chat__group
        .chat__group--name sampleグループ2
        .chat__group--message あああああああ2
      .chat__group
        .chat__group--name sampleグループ3
        .chat__group--message あああああああ3




  .chat__main
    .chat__header
      .chat__top
        .chat__top--groupname sampleグループ名前名前名前名前名前名前名前名前名前名前名前名前名前名前名前名前名前名前
        .chat__top--members Members: nozawa
      .chat__editbtn Edit


    .chat__body
      %ul.chat__messages
        %li.chat__message
          .chat__message__header
            .chat__message__header--name nozawa
            .chat__message__header--time 2016/10/20 11:58:26
          .chat__message--body テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

        %li.chat__message
          .chat__message__header
            .chat__message__header--name nozawa
            .chat__message__header--time 2016/10/20 11:58:26
          .chat__message--body テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト


    .chat__footer
      %form.new_message#new_message{ :method => "post" }
        .chat-footer__body
          %textarea#massege_body{ :name => "message[body]", :row => "1", :placeholder => "  入力してください" }
          %label.chat-footer__file
            %i.fa.fa-image
        %input{ :type =>"submit", :name =>"commit", :value =>"Send" }
