
.chats{
  min-width: 980px;
  height: 100%;
  @include clearfix();

  .chat__side {
    float: left;
    width: 20vw;

    .chat__header {
      background-color: #253141;
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      @include clearfix();

      &--name {
        float: left;
        font-size: 16px;
        color: #fff;
        font-weight: bold;
        line-height: 60px;

      }
      &--edits {
        float: right;
        .chat__icon{
          i.fa{
            color: #ffffff;
            line-height: 60px;
          }
        }
      }
    } // chat__header

    .chat__groups{
      background-color: #2f3e51;
      padding-right: 20px;
      padding-left: 20px;
      overflow: scroll;
      height: 89vh;

      .chat__group{
        padding-top: 20px;
        padding-bottom: 40px;

        &--name {
          font-size: 15px;
          color: #fff;
          padding-bottom: 5px;
        }
        &--message {
          font-size: 11px;
          color: #fff;
        }
      }
    } // chat__groups
  } //  chat__side 左側




  .chat__main {
    float: left;
    width: 80vw;
    height: 100vh;

    .chat__header{
      width: 75.3vw;
      border-bottom: 1px #eee solid;
      padding-right: 40px;
      padding-left: 40px;
      @include clearfix();

      .chat__top{
        float: left;

        &--groupname{
          font-size: 20px;
          color: #333;
          padding: 20px 0 15px 0;
        }
        &--members{
          font-size: 12px;
          color: #999;
          padding-bottom: 15px;
        }
      } // chat__top

      .chat__editbtn{
        float: right;
        color: #38aef0;
        border: 1px solid;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        margin-bottom: 15px;
      }
    } // chat__header

    .chat__body {
      padding-right: 40px;
      padding-left: 40px;
      position: relative;
      height: calc(100% - 192px);
      overflow: scroll;
      background-color: #fff;
      width: 75.3vw;

      ul.chat__messages {
        li.chat__message {
          .chat__message__header{
            padding-top: 40px;
            padding-bottom: 10px;
            @include clearfix();

            &--name{
              float: left; // timeと
              font-size: 16px;
              color: #434a54;
              font-weight: bold;
            }
            &--time{
              float: left; // nameと
              font-size: 12px;
              color: #999;
              padding-left: 10px;
            }
          }
          .chat__message--body{
            font-size: 14px;
            color: #434a54;
          }
        }
      }
    } // chat__body


.chat__footer{
  position: relative;
  bottom: 0px;
  width: 75.3vw;
  height: 50px;
  padding: 20px 40px;
  background-color: #ddd;
}

.chat__footer--messages{
  @include clearfix();
  textarea#message_body{
    position: relative;
    display: block;
    border: none;
    resize: none;
    float: left;
    width: 66vw;
    padding: 15px 10px;
  }
  input#submit{
  line-height: 50px;
  width: 100px;
  color: #fff;
  background-color: #38aef0;
  border-style: none;
  display: block;
  margin-left: 15px;
  position: absolute;
  right: 37px;
  top: 20px;
  }
}

input#message_image{
  display: none;
}

.fa{
  position: absolute;
  left: 66.8vw;
  top: 37px;
}

  } // chat__main
} // chats
